body {
  font-family: sans-serif;
}
.card {
  width: 500px;
  border: 1px solid gray;
  box-shadow: 1px 3px px 0px gray;
}
img {
  max-width: 100%;
}
h1 {
  text-align: right;
  position: absolute;
  bottom: 130px;
  right: 170px;
  padding: 30px;
  font-weight: 800;
}
p {
  text-align: left;
  font-weight: 600;
  margin-left: 10px;
}
h3 {
  text-align: right;
  position: absolute;
  bottom: 100px;
  right: 180px;
  padding: 30px;
  font-weight: 800;
}
